@import "components/ui/Layout/styles.module";
@import "components/sections/content/styles.module";

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bgColorThird);
  height: 100%;
}