@import "../../styles/HomePage.module";
@import "../../../content/styles/Content.module";

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--bgColorThird);
  height: 100%;
  

}