.notes {
	color: var(--fontColor);
	background-color: var(--bgColorFirst);

	padding: 0.6rem;
	resize: none;
	min-height: 4rem;

	outline: none;
	border: none;
	border-radius: 5px;

	&::placeholder {
		color: var(--fontColor);
	}
}
