@import "components/ui/cards/TaskGroup/styles.module";

.groups {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.base_group__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.7rem;

  border-bottom: var(--borderBottomSidebar);
  padding-bottom: 0.5rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  //gap: 20%;
  flex: 1;

  padding: 1rem 0 0 0;

  @media (max-width: 768px) {
    flex: 2;
  }

  .custom_group__container {
    overflow-y: auto;
    max-height: 75%;
    min-height: 0;
    width: 100%;
    overflow-x: hidden;

    & > div:not(:last-child) {
      margin-bottom: 0.5rem;
    }
  }
}
