.error__page {
	min-width: 100vw;
	min-height: 100vh;

	display: flex;
	align-items: center;
	flex-direction: column;

	@media screen and (max-width: 600px) {
		padding: 0.5rem;
	}

	.error__block {
		margin-top: 10%;
		font-weight: 700;

		display: flex;
		flex-direction: row;

		@media screen and (max-width: 910px) {
			flex-direction: column;
		}

		@media screen and (max-width: 515px) {
			padding: 0 10%;
		}

		.error__code,
		.error__message {
			@media screen and (max-width: 600px) {
				font-size: 5rem;
				letter-spacing: 0.5rem;
			}
			font-size: 7rem;
		}
	}

	.error__code {
		font-weight: 700;
		color: transparent;

		-webkit-text-stroke: 0.2rem var(--fontColor);
	}

	.error__comment {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 1.5rem;

		margin-top: 5%;

		p {
			font-size: 2rem;
			font-weight: 300;

			@media screen and (max-width: 660px) {
				width: 60%;
			}

			@media screen and (max-width: 600px) {
				text-align: center;
				width: 80%;
			}

			@media screen and (max-width: 515px) {
				text-align: center;
				font-size: 1rem;
			}
		}
	}
}
